# Motor de Extracción y Resiliencia
requests==2.31.0
beautifulsoup4==4.12.3
tenacity==8.2.3

# Base de Datos y Entorno
psycopg2-binary==2.9.9
python-dotenv==1.0.1

# Bibliotecaria (Bot y API Central)
discord.py==2.3.2
fastapi==0.110.0
uvicorn==0.29.0